Repository Tomasz-Zdeb/Software-Engineering-Class-Project, pull requests merged in 2023-05, with the labels that each got.

#86 39-skonfiguruj-dokeryzacje-db
  DB/Dockerfile
  DB/db-init.sql
  DB/insert-dummies.sql
  DB/tables-init.sql
  README.md
  docker-compose.yaml
  scripts/bash/refresh-git-remotes-list.sh
  scripts/bash/start-app.sh
  scripts/bash/stop-app.sh
Labels: CI/CD, DB, Sprint 9

#87 43-skonfiguruj-dokeryzacje-frontendu
  FRONT/front-app/Dockerfile
  docker-compose.yaml
Labels: CI/CD, Frontend, Sprint 9

#91 Utworz GitHub action dla lintera pythona
  .github/workflows/pythonlint.yml
  API/api/__init__.py
  API/api/models/note.py
  API/api/routes/note.py
  API/api/utilities/db_utils.py
  API/requirements.txt
Labels: CI/CD, API, Backend, Sprint 9

#90 Stworz testy dla endpointa /note
  API/api/__init__.py
  API/api/models/user.py
  API/requirements.txt
  API/tests/__init__.py
  API/tests/conftest.py
  API/tests/test_example.py
  API/tests/test_note.py
  API/tests/test_utils.py
Labels: CI/CD, API, Backend, Sprint 9

#101 Utwórz GitHub action dla testów api
  .github/workflows/pytest.yml
Labels: CI/CD, API, Backend, Sprint 10

#103 Opisz Github action lintera Pythona w Readme
  README.md
Labels: CI/CD, Continuous Improvement, Sprint 10

#111 70-Dodaj-diagram-do-sekcji-opisujacej-reguly-branchingu-w-readmemd
  README.md
  images/branching.drawio.png
Labels: Continuous Improvement, Sprint 11

#107 Dodanie do dokumentacji API brakujących bibliotek.
  API/DOCS.md
Labels: API, Continuous Improvement, Sprint 10

#116 114-Popraw-dane-dostepu-do-bazy-danych
  .github/workflows/pytest.yml
  API/api/__init__.py
Labels: API, Backend, Continuous Improvement, Sprint 11

#118 117-zaimplementuj-mechanizm-uwierzytelniania-uzytkownikow-w-oparciu-o-jwt-po-stronie-api
  API/DOCS.md
  API/api/__init__.py
  API/api/models/user.py
  API/api/routes/auth.py
  API/api/routes/note.py
  API/api/utilities/auth.py
  API/api/utilities/auth_loaders.py
  API/requirements.txt
  API/tests/conftest.py
  API/tests/test_auth.py
  API/tests/test_auth_utils.py
  API/tests/test_note.py
  README.md
Labels: CI/CD, API, Backend, Sprint 11

#128 126-Popraw-polityke-Same-origin-policy-w-API
  API/DOCS.md
  API/api/__init__.py
  API/requirements.txt
Labels: API, Backend

#145 144 dostosuj db do przedyskutowanej kwestii hashowania haseł między db a api
  DB/DOCS.md
  DB/ERD-diagram.drawio.png
  DB/insert-dummies.sql
  DB/tables-init.sql
Labels: DB, Backend, ASAP

#146 142 dostosuj api do zmian w przechowywaniu hasel w db
  API/DOCS.md
  API/api/__init__.py
  API/api/models/user.py
  API/api/routes/auth.py
  API/api/utilities/auth.py
  API/requirements.txt
  API/tests/conftest.py
  API/tests/test_auth_utils.py
Labels: API, Backend, ASAP
